<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-lg-3">
        <h2 class="mb-1">Modification </h2>
          <p><%= @spacecraft.name %></p>
          <%= simple_form_for (@spacecraft) do |f| %>
          <%= f.input :name %>
          <%= f.input :capacity %>
          <%= f.input :category %>
          <%= f.input :location %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Edit spaceship", class: "btn btn-success" %>
          <% end %>
    </div>
  </div>
</div>
