
<div class="container">
  <h1>Voici nos plus beaux vaisseaux!</h1>
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="row">
    <% @spacecrafts.each do |spacecraft| %>
      <div class="card mr-2">
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="card-body" style="width: 18rem;">
            <%= cl_image_tag "#{spacecraft.photo}" %>
            <%= link_to spacecraft_path(spacecraft), class:'text-decoration-none' do %>
                <%= spacecraft.name %>
                <%= spacecraft.capacity %>
                <%= spacecraft.category %>
            <% end %>
          </div>
          </div>
        </div>
    <% end %>
      </div>
</div>
