<ul>
  <% @spacecrafts.each do |spacecraft| %>
    <li><%= spacecraft.name %></li>
    <li><%= spacecraft.capacity %></li>
    <li><%= spacecraft.category %></li>
  <% end %>
</ul>

<div class="container">
  <h1>Voici nos plus beaux vaisseaux!</h1>
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="row">
    <% @spacecrafts.each do |spacecraft| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="co-12 col-sm-6 col-md-4 mb-3">
            <%= link_to spacecraft_path(spacecraft), class:'text-decoration-none' do %>
              <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('space-shuttle.jpg') %>)">
                <%= spacecraft.name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
