<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="container">
        <h1 class="mb-5">Create a spacecraft</h1>
        <%= simple_form_for (@spacecraft) do |f| %>
          <%= f.input :name %>
          <%= f.input :capacity %>
          <%= f.input :category %>
          <%= f.input :location %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Add a spaceship", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
