<div class="container">
  <h1 class="mb-5"><%= @spacecraft.name %></h1>
  <div class="row">
    <div class="col-12 col-md-8">
      <% @spacecrafts.each do |spacecraft| %>
        <%= cl_image_tag "#{spacecraft.photo.key}", size: "160x120" %>
      <% end %>
      <h2 class="mt-4">Description</h2>
      <p><%= @spacecraft.description %></p>

      <a class="btn btn-outline-success" type="button" href="<%= new_spacecraft_booking_path(@spacecraft) %>">Book this spacecraft</a>
    </div>
    <div class="col-12 col-md-4">
      <div class="bg-info p-3">
        <h2>Info</h2>
        <p><i class="fa-solid fa-shuttle-space"></i> Category : <b><%= @spacecraft.category %></b></p>
        <p><i class="fa-solid fa-users"></i> Capacity : <b><%= @spacecraft.capacity %></b></p>
        <p><i class="fa-solid fa-location-dot"></i> Location : <b><%= @spacecraft.location %></b></p>
        <p><i class="fa-solid fa-user-astronaut"></i> Capitain : <b><%= @spacecraft.user.nickname %></b></p>

        <% if user_signed_in? && current_user == @spacecraft.user%>
          <a class="btn btn-outline-success" type="button" href="<%= edit_spacecraft_path(@spacecraft) %>">Edit my spacecraft</a>
        <% end %>
      </div>
    </div>
  </div>

</div>
