<h2><%= @spacecraft.name %></h2>
<p><%= @spacecraft.capacity %></p>
<p><%= @spacecraft.category %></p>
<p><%= @spacecraft.location %></p>
<p><%= @spacecraft.description %></p>
<p><%= @spacecraft.user %></p>
<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
