<h2><%= @spacecraft.name %></h2>
<p><%= @spacecraft.capacity %></p>
<p><%= @spacecraft.category %></p>
<p><%= @spacecraft.location %></p>
<p><%= @spacecraft.description %></p>
<p><%= @spacecraft.user %></p>
