<div class="card-home">
  <h1>Besoin d'un vaisseau pour conquérir l'univers ?</h1>
  <a class="btn btn-info p-3 mt-3" type="button" href="<%= spacecrafts_path %>">Tenter de conquérir le monde</a>
</div>
<div class="container" style="margin-top: 7rem !important;">
  <h2 class="mb-3">The last three spacecrafts</h2>

  <section class="wrapper">

  <div class="row">
    <% @spacecrafts.last(3).each do |spacecraft| %>
 <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('<%= cl_image_path "#{spacecraft.photo.key}"%>'); background-size: cover;">
       <%= cl_image_tag "#{spacecraft.photo.key}", class: "card-img d-none" %>
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2 text-capitalize"><%= spacecraft.category %></small>
            <h4 class="card-title mt-0 "><a class="text-white" href="<%= spacecraft_path(spacecraft) %>"><%= spacecraft.name %></a></h4>
           <small><i class="fa-solid fa-users"></i> <%= spacecraft.capacity %></small>
          </div>
          <div class="card-footer">
           <div class="media">
  <div class="media-body">
    <h6 class="my-0 text-white d-block"><%= spacecraft.user.nickname %></h6>
     <small>Captain of this ship</small>
  </div>
</div>
          </div>
        </div>
      </div></div>
<% end %>
</div>
</section>
